.product-card{
    background-color:white;
    padding:10px;
    margin:10px;
    border-radius:10px;
}
.product-image{
    height:100px;
    width:100px;
}

.product-title{
    font-size:24px;
    color:black;
    font-weight:bold;
}
.product-price{
    font-size:15px;
}